a {
    text-decoration: none;
    color: white !important;
}

.header {
    display: flex;
    justify-content: space-between;
    background: #28282C;
    padding: 9px 0;
}

.label {
    padding: 0 15px;
    display: block;
    height: 23px;
}

.inputSearch {
    max-width: 311px;
    height: 32px;
    color: #A3A0A0;
    background: #46454A;
    border-radius: 3px 0 0 3px;
    border: none;
}

.inputSearch::-webkit-input-placeholder {
    color: #A3A0A0;
}

.buttonSearch {
    width: 32px;
    height: 32px;
    background: #3A393E;
    border-radius: 0 3px 3px 0;
    margin: 0 2px;
}

.singInButton {
    background: #3A393E;
    border-radius: 3px;
    color: #ffff;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    padding: 12px 11px;
    margin: 0 16px;
}

.registrationButton {
    background: #6F31BD;
    border-radius: 3px;
    color: #ffff;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    padding: 12px 8px;
    margin: 0 2px;
}

.gameButton {
    background: #6F31BD;
    border-radius: 3px;
    padding: 7px 25px 7px 10px;
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    margin: 12px 0;
    display: block;
    width: 106px;
}

.gameButton span {
    text-decoration: none;
}

.gameButton_Icon {
    top: 6%;
    right: 33px;
}

.gameButton_Icon_Ball {
    top: 35%;
    right: 35px;
}

.gameButton:nth-child(1) {
    padding: 7px 20px 7px 15px;
}

.gameButton span:nth-child(1) {
    padding-right: 47px;
}

.sideBar {
    background: #28282C;
    padding: 10px;
    height: 100%;
}

.sideBar_channels_text {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 15px;
    color: #C1C1C1;
}

.sideBar_channels_info {
    font-size: 11px;
    padding-left: 4px;
    text-align: left;
    padding-bottom: 3px;
}

.playListAllVideos {
    justify-content: space-between;
}

.playListAllVideos div {
    margin: 10px 10px;
}

.playListAllVideoInfo div {
    display: flex;
    margin: 0;
    padding: 5px 0;
}

.playListAllVideoInfo div img {
    width: 27px;
    height: 27px;
}

.playListAllVideoInfo span {
    display: flex;
}

.playListAllVideoInfo span p {
    background: #815AF6;
    border-radius: 3px;
    font-size: 11px;
    line-height: 8px;
    color: #ffffff;
    padding: 5px 8px;
    margin: 0 5px;
}

.sideBar_channels div {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.singInBlock {
    position: absolute;
    left: 40%;
    top: 40%;
    z-index: 9999;
    background: #3A393E;
    display: block;
    width: 408px;
}
.welcome{
    padding: 20px 30px ;
    font-size: 30px;
    line-height: 35px;
}

.sinInTab {}

.sinInTab div h4 {
    text-align: left;
    margin: 5px 0;
    color: white;
}

.sinInTab div p {
    padding-top: 10px ;
    color: white;
}
.tab-content{
    padding: 20px 40px;
}

.sinInTab div input {
    background: #46454A;
    border-radius: 3px;
    border: none;
    width: 100%;
}

.checkPasswordSingIn{
    position: absolute;
    right: 15%;
    top: 49.3%;
}
.singInSistem{
    font-size: 14px;
line-height: 16px;
}

.checkPassword {
    position: absolute;
    right: 15%;
    top: 42%;
}

.checkPasswordDone {
    position: absolute;
    right: 15%;
    top: 54%;
}

.sinInTab a {
    font-size: 16px;
    line-height: 19px;
    color: white !important;
    background: #815AF6;
    border-radius: 10px;
    max-width: 351px;
    display: block;
    margin: 19px 5px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: none;
    background: linear-gradient(180deg, rgba(129, 90, 246, 0) 16.15%, rgba(129, 90, 246, 0.25) 100%) !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs {
    cursor: pointer;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border: none !important;
}

.nav-tabs {
    border-bottom: 1px solid #7968AD !important;
}

.modalTab {
    background: rgba(92, 92, 92, 0.88);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    bottom: 0;
}

.faceBookSingIn{
 cursor: pointer;
 margin-top: 15px;
}
.errorBlock p{
    position: absolute;
    background: #FE6565;
    padding: 6px;
    color: white;
    font-size: 20px;
    line-height: 23px;
    width: 100%;
    height: 60px;
}
.userBlock{
    display: flex;
    padding-right: 10px;
    padding-top: 7px;
}
.userBlock p{
    padding-right: 10px;
}